.form {
	padding: 0 20px 20px 20px;
}

.form__newTask {
	margin-right: 20px;
	padding: 10px;
	border: 1px solid #ddd;
}

.form__sendTaskButton {
	padding: 10px;
	background-color: teal;
	color: #fff;
	border: none;
}

