.section {
	background-color: #fff;
}

.section__title {
	padding: 20px;
	font-weight: 900;
	border-bottom: 2px solid #ddd;
}

@media (max-width: 576px) {
    .section__title {
        font-size: 20px;
    }
}