.tasksArea {
	min-height: 40px;
	border-top: 2px solid #ddd;
}

.tasks {
	padding: 0 20px 20px 20px;
	list-style-type: none;
}

.task {
	display: grid;
	grid-template-columns: 35px 1fr 35px;
	padding: 10px;
	border-bottom: 1px solid #ddd;
}

.task__content {
	display: grid;
	align-items: center;
	margin: 0 10px;
}

.task__button {
	padding: 7px 10px;
	background-color: #060;
	border: none;
	color: #fff;
	cursor: pointer;
	transition: background-color 0.5s;
}

.task__button:hover {
	background-color: rgb(0, 125, 0);
}

.task__button--remove {
	background-color: #d00;
	cursor: pointer;
}

.task__button--remove:hover {
	background-color: rgb(247, 63, 63);
}

.task__buttonIcon {
	visibility: hidden;
}

.taskDone {
	text-decoration: line-through;
}

.tasks__itemHidden {
	display: none;
}
